body{
    margin: 0px;
    padding: 0px;
}

span{
    font-family: monospace;
}
img{
    width: 70px;
    height: 70px;
}
button{
    font-size: small;
    color: #000;
}
span{
    color: antiquewhite;
}



.menor-esquerdo{
    margin-top: -10%;
    width: 20vw;
    height: 100%;
    border:1px solid rgba(0, 0, 0, 0);
}

.menor{
    width: 20vw;
    height: 10vh;
    border:1px solid rgba(14, 10, 10, 0);
}

.menor-direito{
    display: flex;
    width:20px;
    height: auto;
    border:1px solid rgba(14, 10, 10, 0.267);
}

.centro{
    margin-top: -10%;
    width: 41vw;
    height: 100%;
    border:1px solid rgba(8, 3, 3, 0);

}

.status{
    display: flex;
    width: 400px;
    height: auto;
    font-size: x-small;
    border: 5px solid rgba(0, 0, 0, 0);
    text-align: center;

}



.img-redonda img{
    
    border-radius: 100%;
    border:4px ridge rgb(255, 51, 0) ;
}


.direito{
    position: relative;
    width: 100px;
    height: auto;
    border:1px solid rgba(21, 3, 3, 0);
    right: -50px;
}


.menor-direito{
    width: 350px;
    height: auto;
    border:1px solid rgba(32, 12, 12, 0);
    font-size: small;
}

.coluna-perfil{
    width: 350px;
    height: auto;
    border:1px solid rgba(144, 20, 20, 0);
    font-size: small;
}
.coluna-direita{
    display:grid;
}